/* styles.css */

header {
  background-color: #ffffff;
  color: #333;
  padding: 10px;
  padding-left: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 3rem;
}

.menu-list {
  list-style-type: none;
  display: flex;
}

.menu-list li {
  margin-right: 15px;
}

.menu-list a {
  text-decoration: none;
  color: #333;
  padding: 20px;
}

/* styles.css */

.hero {
  position: relative;
  text-align: left; /* Align text to the left */
  background-color: #755705; /* Set background color to black */
  color: #fff; /* Set text color to white */
  overflow: hidden; /* Hide overflowing content */
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.text-container {
  max-width: 600px;
}

.text-container h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1.5rem;
  line-height: 1.6;
}

.hero-image {
  width: 50%; /* Set width of the image to 50% of the container */
  height: auto;
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}
/* styles.css */

.hero {
  position: relative;
  text-align: left; /* Align text to the left */
  background-color: #755705; /* Set background color to black */
  color: #fff; /* Set text color to white */
  overflow: hidden; /* Hide overflowing content */
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.text-container {
  max-width: 600px;
}

.text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1.5rem;
  line-height: 1.6;
}

.hero-image {
  width: 200px; /* Adjust the size of the circular image */
  height: 200px; /* Adjust the size of the circular image */
  object-fit: cover;
  margin-right: 140px; /* Maintain aspect ratio while covering the container */
  border-radius: 50%; /* Create a circular appearance */
}
